<a href="javascript.void(0)" data-toggle="modal" data-target="#{{ user.username }}"> {{ user.username }}
</a>

<!-- Modal -->
<div class="modal fade" id="{{ user.username }}" tabindex="-1" role="dialog" aria-labelledby="{{ user.username }}Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="{{ user.username }}Label">{{ user.username|title }}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        Name
                    </div>
                    <div class="col-md-6">
                        {{ user.first_name|title }} {{ user.last_name|title }} 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        User since
                    </div>
                    <div class="col-md-6">
                        {{ user.profile.create_date|date:"jS M Y" }}
                    </div>
                </div>
                {% comment %}
                <div class="row">
                    <div class="col-md-6">
                        User rating
                    </div>
                    <div class="col-md-6">
                        {{ user.profile.user_rating }}
                    </div>
                </div>
                {% endcomment %}
                <div class="row">
                    <div class="col-md-6">
                        Completed transactions
                    </div>
                    <div class="col-md-6">
                        {{ user.profile.user_successful_txns }}
                    </div>
                </div>
                {% comment %}
                <div class="row">
                    <div class="col-md-6">
                        Failed transactions
                    </div>
                    <div class="col-md-6">
                        {{ user.profile.user_failed_txns }}
                    </div>
                </div>
                {% endcomment %}
                
                <div class="row">
                    <div class="col-md-6">
                        Address
                    </div>
                    <div class="col-md-6">
                        <table  class="table-borderless">
                            <tr><td>{{ user.profile.address_line_1 }}</td></tr>
                            {% if user.profile.address_line_2 %}<tr><td>{{ user.profile.address_line_2 }}</td></tr>{% endif %}
                            <tr><td>{{ user.profile.town }}</td></tr>
                            {% if user.profile.county %}<tr><td>{{ user.profile.county }}</td></tr>{% endif %}
                            <tr><td>{{ user.profile.postcode }}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
