{% extends 'base.html' %}
{% load bootstrap4 %}
{% load common_lib %}
{% load thumbnail %}

{% block content %}

<div class="py-3 bg-dark col-md-12">
    <div class="container-">
        <div class="row justify-content-center">
        <div class="col-md-6">      
            {% if not query %}<tr><td><h2><font color="white">Search</font></h3></td></tr>{% endif %}
            <tr>
            <td>
                <form method="get" action="." form class="form-block" role="form">
                {{ form.q.errors }}
                <div class="ui-search form-group has-feedback">
                    {% bootstrap_field form.q show_label=False addon_before='<span class="fas fa-search form-control-feedback text-muted"></span>' %}
                    
                    <input  type="hidden"  value="Search">
                </div>
                </form>
            </td>
        </div>
        </div>
        <!-- end div .row -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% if query %}  <h2>Search Results</h3>{% endif %}
                {% if query %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container-fluid">  
                            <h4>Categories</h4>
                            <div class="row align-items-center gutters-5">
                                    
                            {% for result in page.object_list %}
                                {% if result.object|is_category %}
                                    {% include "navigation/category_view.html" with category=result.object %}
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                    <!-- end div .slider-area -->                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                        <div class="container-fluid">  
                            <h4>Products</h4>        
                            {% include "pagination.html" with page=page %}

                            <div class="row align-items-center gutters-5 col-lg-12">
                                <ul class="list-unstyled product-list-style col-lg-12">
                                    {% for result in page.object_list %}
                                        {% if result.object|is_product %}
                                            {% include "navigation/product_view.html" with product=result.object %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                       
                {% for result in page.object_list %}
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
                {% include "pagination.html" with page=page %}

                </div>
                {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}