
{% if messages_|length > 0 %}
{% include "pagination.html" with page=messages_ %}
{% endif %}
<div class="table-striped">
    <table class="table">
        <thead>
            <th>Click to Read</th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
            <th>Read By Recpient</th>
            <th>Transaction</th>
            <th>Transaction Current Status</th>
        </thead>
        <tbody>
        {% if messages_|length > 0 %}
            {% for message in messages_ %}
            <tr>
                <td align="center"><span class="fa fa-envelope-open" id="expand_message_{{ message.id }}" href="#"></span></td>
                <td>{{ message.created|date:'Y-m-d H:i'  }}</td>
                <td>{% include "user_profile_modal.html" with user=message.user_from %}</td>
                <td>{% include "user_profile_modal.html" with user=message.user_to %}</td>
                <td>{{ message.subject }}</td>
                <td><span id="{{message.id}}_read_by_user" hidden>{{message.user_to}}</span><span id="{{message.id}}_read_by" 
                {% if message.read_by_user_to is False %}
                style="color:rgb(221, 121, 28); font-weight: bold;"
                {% endif %}
                >{{ message.read_by_user_to }}</span></td>
                <td><a href="{% url 'transaction:view_transaction' message.transaction.transaction_reference %}">{{ message.transaction.transaction_reference }}</td>
                <td>{{ message.transaction.get_transaction_status_display }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="messageModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">Date/Time: </div>
                    <div class="col-md-4 ml-auto" id="messageModalDateTime"></div>
                    </div>
                <div class="row">
                    <div class="col-md-4">From: </div>
                    <div class="col-md-4 ml-auto" id="messageModalFrom"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">To: </div>
                    <div class="col-md-4 ml-auto" id="messageModalTo"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 ml-auto"><p></p></div>
                </div>
                <div class="row">
                    <div class="col-md-12 ml-auto"><p>Content:</p></div>
                </div>
                <div class="row">
                    <div class="col-md-12 ml-auto"><span id="messageModalContent"></span></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div> 