{% extends "base.html" %}
{% load thumbnail %}

{% block subtitle %}My SharingHub{% endblock %}
{% block title %}{{ type | title}} transactions{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
        {% if transactions|length > 0 %}
        {% include "pagination.html" with page=closed_orders %}        
        <div class="table-striped">
            <table class="table">
                <thead>
                    <th>Transaction Ref.</th>
                    <th>Order Ref.</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Product</th>
                    <th>Agreed Price per Item</th>
                    <th>Quantity</th>
                    <th>Transacted datetime</th>
                    <th>Last scraped datetime</th>
                    <th>Transaction Status</th>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr>
                <td><a href="{% url 'transaction:view_transaction' transaction.transaction_reference %}">{{ transaction.transaction_reference }}</a></td>
                <td>{{ transaction.order_passive.order_reference }}</td>
                <td>
                    {% if transaction.order_passive.direction == 'B' %}
                    {% include "user_profile_modal.html" with user=transaction.user_aggressive %}
                    {% else %}
                    {% include "user_profile_modal.html" with user=transaction.user_passive %}
                    {% endif %}
                </td>
                <td>
                    {% if transaction.order_passive.direction == 'S' %}
                    {% include "user_profile_modal.html" with user=transaction.user_aggressive %}
                    {% else %}
                    {% include "user_profile_modal.html" with user=transaction.user_passive %}
                    {% endif %}
                </td>

                <td><a href="{% url 'navigation:productPage' transaction.order_passive.product.slug %}">{{ transaction.order_passive.product.name }}</a></td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.created }}</td>
                <td>{{ transaction.amended }}</td>
                <td>{{ transaction.get_transaction_status_display }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <br /><h4>You have no {{ type }} transactions</h4>   
        {% endif %}

        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
{% endblock %}
