{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    {#<link href="{% static "css/base.css" %}" rel="stylesheet">#}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    {% block headerContent %}
    {% endblock %}
</head>
<body>
    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url "dashboard" %}">my dashboard</a>
            </li>
            <li>{% if section == "images" %}class="selected"{% endif %}
                <a href="{% url 'navigation:seeAll' %}">Browse All</a>
            </li>
            <li>{% if section == "people" %}class="selected"{% endif %}
                <a href="#">people</a>
            </li>
            <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.first_name }}
                    <a href="{% url "logout" %}">logout</a>
                {% else %}
                    <a href="{% url "login" %}">login</a>
                {% endif %}
            </span>
        </ul>
        {% endif %}
    </div>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
{# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% bootstrap_javascript %}
{% block pageJavascript %}
{% endblock %}
<script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        // these methods do not need CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });
    $(document).ready(function() {
        {% block domready %}
        {% endblock %}
    });
</script>
</html>