
    <ul class="pagination">
        {% if page.has_previous %}
        <li class="page-item">
        <a class="page-link" href="?page={{ page.previous_page_number }}{% if urlencode %}&{{urlencode}}{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
        </li>
        {% endif %}
        {% for i in page.paginator.page_range %}
            {% if page.paginator.page_range|length > 6 %}
                {% if i == 1 %}
                    {% comment %} always show first {% endcomment %}
                    {% if page.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if urlencode %}&{{urlencode}}{% endif %}">{{ i }}</a></li>
                    {% endif %}

                {% elif i == page.paginator.page_range|length %}
                    {% comment %} always show last {% endcomment %}
                    {% if page.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if urlencode %}&{{urlencode}}{% endif %}">{{ i }}</a></li>
                    {% endif %}


                {% elif i < page.number and i > page.number|add:"-3" %}
                    {% comment %} always show page -3 {% endcomment %}
                    {% if page.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if urlencode %}&{{urlencode}}{% endif %}">{{ i }}</a></li>
                    {% endif %}

                {% elif i > page.number and i < page.number|add:"3" %}
                    {% comment %} always show page +3 {% endcomment %}
                    {% if page.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if urlencode %}&{{urlencode}}{% endif %}">{{ i }}</a></li>
                    {% endif %}

                {% elif i == page.number|add:"4" %}
                    {% comment %}elif page+4 show ...{% endcomment %}
                    <li class="page-item"><span class="page-link">...<span class="sr-only">(current)</span></span></li>

                {% elif i == page.number|add:"-4" %}                
                    {% comment %}elif page-4 show ...{% endcomment %}
                    <li class="page-item"><span class="page-link">...<span class="sr-only">(current)</span></span></li>
                {% elif i == page.number %}                
                    {% comment %}elif page-4 show ...{% endcomment %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>

                {% endif %}
            {% else %}
                {% if page.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}{% if urlencode %}&{{urlencode}}{% endif %}">{{ i }}</a></li>
                {% endif %}
            {% endif %}

            
        {% endfor %}
        {% if page.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{ page.next_page_number }}{% if urlencode %}&{{urlencode}}{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
        </li>
        {% endif %}
    </ul>
