{% extends "base.html" %}
{% load thumbnail %}

{% block title %}About SharingHub{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        
        <div class="section bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 order-md-1">
                        SharingHub
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
{% endblock %}
