{% extends "base.html" %}
{% load thumbnail %}

{% block title %}How SharingHub Works{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
<br />
<h3>Market overview</h3>
SharingHub exits to reduce the spread (the difference between the buying and selling prices) on physically delivered goods.  We're starting off with physically delivered precious metals; coins and bullion.
<br /> 
It's aim is to provide an efficient and safe marketplace, reducing costs and making physical delivery a better option of ownership.
<br /> <br />
SharingHub seeks to make a market place, where buyers and sellers can meet in a safe, efficient manner, with minimal costs.
<br /><br />

<h3>Order placement and execution</h3>
It allows orders to be priced in GBP else as a percentage of the most recent fixing price (any any GBP offset).  Relative prices will move as the fixing prices are updated.  For example, if the current spot price is 1000 USD for a troy Oz:
<br />
<h6>Example: 1 Oz  Pamp Bar, in GBP</h6>

<br />price = ([value of item in metal content] * % reference) + offset
<br />
<br />reference price = 1000 USD per Oz
<br />reference price using current exchange rate (p1) = £779.88
<br />order reference percent (p2) = 99%
<br />order price offset (p3) = -£10
<br />
<br />Order price = (p1 * p2) + p3
<br />Order price = (779.88 * 0.99) - 10 = £762.08

<br /> <br />

<h3>Transaction processing</h3>
All tranasactions are binding unless both parties agree to cancel.  Orders are not automatically matched - crossed order books (where buy prices are lower than sell prices) are a possibility but should be viewed with caution; if prices seem to good to be true then then usually are.
<br /> <br />
Escrow is mandated and is provided by FCA approved "TODO", whose service is entirely independent from SharingHub.
<br /> 
There are a few sequential and tracked states in a transaction:
<ol>
    <li>1</li>
    <li>2</li>
</ol>
<br />
Should there be a need for conflict resolution the escrow service provider will come into play, and SharingHub will help mediate (TODO).  
<br /><br />

<h3>Help for buyers and sellers</h3>
<ul>
    <li>You can see how many successful tranasactions a user has made by clicking the username in the order</li>
    <li>if a price looks too good then it probably is - be aware of the value of the item by reviewing previous transactions and the current value; we also provide prices from external retailers should they allow us to.  Obviously many items will trade at a premium to the spot price</li>
    <li>Certain metals (e.g. gold) are VAT exempt, others (e.g. silver) are not.  All prices listed are inclusive of any applicable VAT and any VAT registered companies should quote inclusive of VAT</li>
</ul>
        </div>
    </div>
</div>

{% endblock %}
{% block domready %}
{% endblock %}
