{% extends "base.html" %}
{% load thumbnail %}

{% block title %}SharingHub - Physical ownership{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="section bg-light">
            <div class="container">
            <div class="row align-items-center">
            <div class="col-md-12 order-md-1">
            We believe that Physical owership of precious metals is the best method of ownwership for most people wishing to hold the metals for a reasonable length of time.
            That said, we're honest that physical ownership is probably not for everyone and some people would be best looking at paper ownership options such as an ETF.
            <br />In particular, traders looking to speculate on short term price movements would be best looking elsewhere as the postage costs incurred would likely make this a more expensive option.
            <br /><br />
            
            <h6>Advantages</h6>
            <ul>
            <li>Precious metals have been considered a store of wealth and value for thousands of years due to their finite supply.</li>
            <li>Precious metals are advised to be held as part of diversification of a portfolio; their prices often runs inverse to alternate assets (such as equities - stock and shares) so this allows a hedge.</li>
            <li>Precious metals are not based on any currency - they hedge against inflation and deflation.</li>
            <li>Physical metals hold no counterparty risk - there's no one to go bankrupt or defalit.</li>
            <li>Physical metals hold no ongoing fees - you can store how you wish.  For those bulkier metals (per GBP or USD invested) the storage costs can soon stack up.</li>
            <li>Certain types of precious metals are exempt from taxes</li>
            <li>Physical ownership means they're always available, easy to audit and easy to transact.</li>
            <li>Precious metals are a global commodity that, thanks to SharingHub.com, are now transparently priced for all buyers, not just large institutions.</li>
            </ul>     
            
            <h6>Disadvantages</h6>
            <ul>
            <li>Any transactions need physical delivery, incuring postage costs</li>
            <li>Items should be stored and insured appropriately</li>
            </ul>  
            </div>
            </div>
            </div>          
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
{% endblock %}
