{% extends "base.html" %}
{% load thumbnail %}

{% block title %}SharingHub developer program{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="section bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 order-md-1">
                    SharingHub offers an API to selected partners, allowing orders to be amended via our secure API.  This allows direct pricing and quantity controls,
                    with appropriate throttle limits (number of amendments allowed per order / per minute).
                    <br /><br />
                    This service is intended for those participants with alternate pricing feeds and stock management controls, and for those particpants who wish to automate their market interactions.
                    <br /><br />
                    The service is offered at no additional cost, but there are rules and acceptance criteria.
                    <br /><br />
                    Should you wish to enquire about access to our API, please email us at <a href="mailto:api@sharing-hub.com">api@sharing-hub.com</a>. Please detail your intention and requirements.
                    </div>
                </div>
            </div>          
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
{% endblock %}
