{% extends "base.html" %}
{% load cache %}
{% load thumbnail %}
{% load static %}
{% load humanize %}
{% load common_lib %}
{% block subtitle %}{% endblock %}
{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="section bg-light">
            <div class="container">
                <div class="row align-items-center">
                <div class="col-md-6 order-md-2">
                    <img src="assets/images/about/img-01.png" alt="">
                </div>
                <div class="col-md-12 order-md-1">
                    <div class="featured-content">
                    <h3>Why SharingHub exists</h3>
                    <p>Of the few ways to own precious metals (Physical, ETFs, Registered ownership), Physical ownership has many <a href='{% url 'navigation:physicalOwnershipGuide' %}'>advantages</a>.
                        SharingHub exists to increase the efficiency of dealing in physically delivered coins and bars, with an aim of cutting out the middle men and so reducing the spread
                    between the buying and selling prices.  Our aim is to be the cheapest place to safely buy, and the most rewarding place to safely sell. </p>
                    <p>We also look to capture and display other prices that are avaliable through other vendors, to provide a single, transparent view of available prices. We have 
                        no affiliation to these, and earn no commission.</p>
                    <p>Any transactions agreed over SharingHub will transact over <a href="https://www.transpact.com/">Transpact</a>, an FCA registered escrow service, who in turn will appoint an independant arbitrator,
                        should it be needed
                    </p>
                    </div>
                </div>
                </div>
                <!-- end div .row -->
            </div>
        <!-- end div .container -->
        </div>


        <div class="col-lg-6    ">
            <div class="service text-center">
                <div class="service-icon">
                {% if gold.image %}
                {% thumbnail gold.image "120" format="PNG" as im %}
                <img src="{{ im.url }}" alt="">
                {% endthumbnail %}
                {% endif %}
                </div>
                <!-- end div .service -->
            </div>
        </div> 

        <div class="banner-grid col-sm-12 text-center">
            <div class="banner-body justify-content-center">
            <h4>Registration is free, Placing orders is free.</h4>
            <a href="{% url "register" %}" class="btn btn-primary ">Register</a>
        <!-- end div .banner-grid -->
            </div>
        </div>
        
            <div class="section-header text-center">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                    <h6 class="section-subtitle2">Q&A</h6>
                    <h4 class="section-title2">Who is Buying / Selling?</h4>
                    <p class="section-subtext">Within the internal marketplace you'll be buing from, or selling to, other users of SharingHub.  SharingHub does also make markets, we'll do so using our own inventory with a primary intention of increasing liquidity.</p>
                    </div>
                </div>
                <!-- end div .row -->
                <div class="row justify-content-center">
                    <div class="col-md-10">
                    <h4 class="section-title2">Is SharingHub safe?</h4>
                    <p class="section-subtext">SharingHub is a matching service and is not involved in the settlement of transactions/ payment of monies.  We have integrated our transactions with an FCA approved Escrow service, and no money is released by them until the item has been verified by the buyer.  Please see our guides for more information about the transaction workflow and recommended verification steps.</p>
                    </div>
                </div>
                <!-- end div .row -->
                <div class="row justify-content-center">
                    <div class="col-md-10">
                    <h4 class="section-title2">Is SharingHub the best price?</h4>
                    <p class="section-subtext">In addition to our internal market, we also quote the prices from leading external websites, where they make their prices available for scraping.  We have no affiliation to them, the intention is to make prices fully transparent.</p>
                    </div>
                </div>
                <!-- end div .row -->
                <div class="row justify-content-center">
                    <div class="col-md-10">
                    <h4 class="section-title2">Is VAT inclusive in the prices?</h4>
                    <p class="section-subtext">VAT is either inclusive, or not attracted.  Gold has no VAT applicable, whereas order in other metals will be priced with any applicable VAT.  Private sellers are unlikely to be VAT registered unless they deal in larger quanties.</a></p>
                    </div>
                </div>
                <!-- end div .row -->
                <div class="row justify-content-center">
                    <div class="col-md-10">
                    <h4 class="section-title2">Are all products Certified and provided in tamper-proof casing?</h4>
                    <p class="section-subtext">No, although we would suggest that those new to investing in physical metals buy pre-certified items (in tamper proof casing) else complete full verification with a local expert.  We only list products certified by ANACS, ICG, NGC or PCGS.</a></p>
                    </div>
                </div>
                <!-- end div .row -->
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="blog-grid">
                    <div class="blog-thumb">
                    <img src="assets/images/blog/img-02.jpg" alt=""> 
                    </div>
                    <!-- end div .blog-thumb -->
                    <div class="blog-body">
                    <h4>Buying through SharingHub</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    <a href="{% url 'navigation:buyersGuide' %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <!-- end div .blog-grid -->
            </div>
            
            <div class="col-lg-6 col-md-6">
                <div class="blog-grid">
                    <div class="blog-thumb">
                    <img src="assets/images/blog/img-02.jpg" alt=""> 
                    </div>
                    <!-- end div .blog-thumb -->
                    <div class="blog-body">
                    <h4>Selling through SharingHub</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    <a href="{% url 'navigation:sellersGuide' %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <!-- end div .blog-grid -->
            </div>
                


            <div class="col-lg-3 col-sm-6">
                    <div class="service text-center">
                        <h3 class="service-title">Free</h3>
                        <p>Accounts are free, and it's free to place and amend orders.</p>
                        <!-- end div .service -->
                    </div>
                    </div>
                    
            <div class="col-lg-3 col-sm-6">
                    <div class="service text-center">
                        <h3 class="service-title">SharingHub Fee</h3>
                        <p>SharingHub charges a small fee on all transactions. Currently this is set at 0.25%, so only 25p for every £100 transacted. A minimum charge of 25p applies per transaction</p>
                        <!-- end div .service -->
                    </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                    <div class="service text-center">
                        <h3 class="service-title">Delivery Fee</h3>
                        <p>Delivery is mandated via insured Royal Mail special delivery.  The current fee structure is as <a href='#'>here</a></p>
                        <!-- end div .service -->
                    </div>
                    </div>
            <div class="col-lg-3 col-sm-6">
                    <div class="service text-center">
                        <h3 class="service-title">Escrow Costs</h3>
                        <p>To ensure both buyer and seller protection we use a named escrow service, which is FCA regulated.  
                            The escrow costs can be found <a href="#">here</a> and will (for most transactions) cost considerably less than Paypal.  
                        The escrow service is integrated into SharingHub, but the fees will be split for complete transparency</p>
                        <!-- end div .service -->
                    </div>
                    </div>
    </div>
</div>
{% endblock %}
{% block domready %}
{% endblock %}
