{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block headerContent %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">
{% endblock %}
{% block title %}Edit your account{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h1>Edit your account</h1>
      <p>you can edit with the following:</p>
      <form action="." method="post" enctype="multipart/form-data">
          {% bootstrap_form user_form %}
          {% bootstrap_form profile_form %}
          {% csrf_token %}
          <p><input type="submit" id="form-submit" hidden value="Save"></p>
      </form>
      <button type="button" class="btn btn-primary js-form-submit">
        <span class="fas fa-floppy-o"></span> Submit
      </button>

    </div>
  </div>
</div>
{% endblock %}

{% block pageJavascript %} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-sliderAccess.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/jquery.ui.widget@1.10.3/jquery.ui.widget.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.iframe-transport.min.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.fileupload.js"></script>   
{% endblock %}
{% block domready %}
$('#id_date_of_birth').attr("autocomplete", "off");
$('#id_date_of_birth').datepicker({
    dateFormat: "yy-mm-dd",
    changeYear: true,
    changeMonth: true,
    yearRange: "1900:2100",
    maxDate: 0,
});

$(".js-form-submit").click(function () {
    $("#form-submit").click();
});

{% endblock %}