{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Order hit successfully{% endblock %}

{% block content %}
{% if order %}
{% if transaction %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p>transaction <a href="{% url 'transaction:view_transaction' transaction.transaction_reference %}">{{ transaction.transaction_reference }}</a> created</p>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block domready %}
{% endblock %}
