{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Raise dispute{% endblock %}
{% if order %}
{% block content %}
{% if transaction %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form action="." method="post" enctype="multipart/form-data">
                {% bootstrap_form txn_message_form %}
                {% csrf_token %}
                <input type="hidden" name="transaction_reference" value="{{ transaction.transaction_reference }}">
                <input id="txn_image_id" type="hidden" name="txn_image_id" value="">
                <p><input id="form-submit" type="submit" style="display: none;" value="Save"></p>

            </form>

            <div class="form-group">
                {# 1. BUTTON TO TRIGGER THE ACTION #}
                <button type="button" class="btn btn-secondary js-upload-photos">
                    <span class="fas fa-cloud-upload"></span> Add photos
                </button>
                </div>
                
                {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
                <input id="fileupload" type="file" name="image"
                       style="display: none;"
                       data-url="{% url 'transaction:transaction_message_image_upload' %}"
                       data-form-data='{
                            "csrfmiddlewaretoken": "{{ csrf_token }}",
                            "transaction_reference" : "{{ transaction.transaction_reference }}"
                        }'>
            
                <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Uploading...</h4>
                      </div>
                      <div class="modal-body">
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
                {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
                <table id="gallery" class="table table-bordered">
                  <tbody>
                    {% for photo in photos %}
                      <tr>
                        <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                
                <button type="button" class="btn btn-primary js-form-submit">
                  <span class="fas fa-floppy-save"></span> Submit
                </button>



        </div>
    </div>
</div>
{% endif %}
{% endblock %}


{% block pageJavascript %} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-sliderAccess.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/jquery.ui.widget@1.10.3/jquery.ui.widget.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.iframe-transport.min.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.fileupload.js"></script>   
{% endblock %}

{% block domready %}


/* 1. OPEN THE FILE EXPLORER WINDOW */
$(".js-upload-photos").click(function () {
  $("#fileupload").click();
});
/* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
$("#fileupload").fileupload({
    dataType: 'json',
    sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
    disableImageResize: 'false',
    start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
      //$("#modal-progress").modal("show");
    },
    stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
      $("#modal-progress").modal("hide");
    },
    progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
      var progress = parseInt(data.loaded / data.total * 100, 10);
      var strProgress = progress + "%";
      $(".progress-bar").css({"width": strProgress});
      $(".progress-bar").text(strProgress);
    },
    done: function (e, data) { 
      if (data.result.is_valid) {
        $("#gallery tbody").prepend(
          "<tr><td><img style='object-fit: contain' src='" + data.result.image_url + "'" + data.result.image_name + "></td></tr>"
        );
        $('#txn_image_id').val($('#txn_image_id').val() + data.result.txn_image_id + ' ');
      }
    }
  });

  $(".js-form-submit").click(function () {
    $("#form-submit").click();
  });
{% endblock %}
{% endif %}
