<div class="modal fade" id="modal_transaction_{{ action }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">{{ transaction_.transaction_reference }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <label for="modalForm_{{action}}_message">Coments (optional)</label>
                    <textarea rows="9" maxlength="2500" name="expiry_date" class="form-control" placeholder="Comments" title="" required="" id="modalForm_{{action}}_message" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="md-form mb-6">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
                <div class="md-form mb-6">
                <button class="btn btn-primary" id="{{action}}_confirm">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>